:root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}